# Ignore the following files from Git version control tracking #
################################################################

.DS_Store
.Rhistory
*.RData
*.aux
*.latexmk
*.log
*.gz
*.pdf
*.bbl
*.ent
PaperNamed/cache/*
PaperNamed/figure/*
PaperNotNamed/*
BJPS/cache/*
BJPS/figure/*
CPS/*
Old/*